
*.iml
.gradle
.idea
.kotlin
.DS_Store
/build
*/build/classes
*/build/compileSync
*/build/compose
*/build/generated
*/build/intermediates
*/build/klib
*/build/kotlin
*/build/kotlin-multiplatform-resources
*/build/kotlin-webpack
*/build/outputs
*/build/processedResources
*/build/tmp
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
